extends layout
block pre-content
  -var subtitle = "我們專注於提供薪資至少六萬七的職缺資訊，讓您更容易找到好工作！"
  #banner
    #logo(delay-bk="img/logo.png")
    #cover5.cover(delay-bk="img/cover/2.jpg")
      .ib
        .title 你值得更好的工作
        .desc 
          | 誰說你的人生只值這點錢？跳槽的時候到了。
          br
          span= subtitle
    #cover1.cover(delay-bk="img/cover/1.jpg")
      .ib
        .title 感到前途茫茫嗎？
        .desc 
          | 迷惘是人之常情，但你必須要力圖改變。
          br
          span= subtitle
    #cover2.cover(delay-bk="img/cover/3.jpg")
      .ib
        .title 不要再委屈自己了
        .desc 
          | 委身茅蘆待人顧嗎？別做21世紀臥龍，機會永遠都屬於自己爭取的人。
          br
          span= subtitle
    #cover3.cover(delay-bk="img/cover/4.jpg")
      .ib
        .title 多久沒好好休息了？
        .desc
          | 若你的待遇不好，連思考這問題的時間都沒有。
          br
          span= subtitle
    #cover4.cover(delay-bk="img/cover/2.jpg")
      .ib
        .title 你值得更好的工作
        .desc 
          | 誰說你的人生只值這點錢？跳槽的時候到了。
          br
          span= subtitle
block content
  blockquote.quote
    | “ You Deserve Better. “
    #list-job
    .small.text-right - 67k jobs platform 
  br
  #index
    #job-detail-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4 
              | 職缺 / {{curjob.title}} 
              .small(style="display:inline-block") - {{curjob.company}}
          .modal-body
            i.glyphicon.glyphicon-briefcase.green
            |  公司名稱: {{curjob.company}}
            span(ng-if="curjob.url")
              |  ( 
              i.glyphicon.glyphicon-globe.blue
              |  
              a(href="{{curjob.url}}",target="_blank") 公司網站
              |  )
            br
            i.glyphicon.glyphicon-calendar.blue
            |  刊登日期: {{curjob.time|date:'yyyy-MM-dd HH:mm '}}
            br
            i.glyphicon.glyphicon-map-marker.red
            |  工作地點: {{curjob.location}}
            br
            i.glyphicon.glyphicon-envelope.orange
            |  履歷請寄至 
            a(href="{{curjob.email}}") {{curjob.email}}
            hr
            h4.text-center 薪資待遇(月薪)
            .row: .col-sm-12.text-center(style="width:80%;margin:auto")
              .btn.btn-lg.btn-block.btn-danger.text-center 
                i.glyphicon.glyphicon-usd.white.small(style="vertical-align:middle")
                |  {{curjob.salary1}}元 ~ {{curjob.salary2}}元
              .label.label-primary(ng-show="curjob.signbonus")
                i.glyphicon.glyphicon-usd
                |  有簽約金
              .label.label-warning(ng-show="curjob.techshare")
                i.glyphicon.glyphicon-folder-close
                |  有技術股
              .label.label-danger(ng-show="curjob.stockright")
                i.glyphicon.glyphicon-heart
                |  員工可認股
              .label.label-success(ng-show="curjob.annualbonus")
                i.glyphicon.glyphicon-gift
                |  年終獎金三個月以上
            br
            hr
            h4
              | 工作內容與需求
              .small.pull-right {{curjob.title}}
            blockquote.pre {{curjob.desc}}
            hr
            h4 
              | 公司簡介
              .small.pull-right {{curjob.company}}
            blockquote.pre {{curjob.compdesc}}
          .modal-footer
            button.btn.btn-default(type="button",data-dismiss="modal") 關閉
    hr.color.orange
    br
    #joblist
      h3
        i.glyphicon.glyphicon-list.orange
        |  職缺列表
        select.input-lg(ng-model="jobtab", ng-options="type.name for type in jobtypes")
          option(value="") 全部
      .list-group
        .list-group-item.head
          .job
            .cell.rank 
              .ranker
              | 薪資
            .cell.title 職缺
            .cell.time
              | 刊登時間 
              i.glyphicon.glyphicon-user

        .list-group-item
          .job(ng-repeat="j in data[jobtab.id || 0]") 
            .cell.rank
              .ranker(ng-class="{'blue':j[1].salary1<70000,'green':j[1].salary1>=70000 && j[1].salary1<80000,'yellow':j[1].salary1>=80000 && j[1].salary1<100000,'orange':j[1].salary1>=100000 && j[1].salary1<150000,'red':j[1].salary1>=150000}")
              | {{j[1].salary1|tok}} ~ {{j[1].salary2|tok}}
            .cell.title 
              a(ng-click="detail(j[1])") {{j[1].title}}
              .small
                |  (  
                a(ng-if="j[1].url",href="//{{j[1].url}}") {{j[1].company}}
                span(ng-if="!j[1].url") {{j[1].company}}

                |  ) 
            .cell.time 
              | {{j[1].time|date:'yyyy-MM-dd'}} 
              img(ng-if="j[1].owner.id",ng-attr-src="http://graph.facebook.com/{{j[1].owner.id}}/picture")
              |  
              i.glyphicon.glyphicon-remove.red(ng-show="{{user.id=='10151905053907168'}}",ng-click="remove(j)")

    #post-job
    br
    br
    hr.color.green
    br
    form#new-job(name="newjobform",novalidate,ng-class="{'needfix':needfix}")
      h3 
        i.glyphicon.glyphicon-edit.green
        |  建立職缺
      .small 任何刊登在此平台的職缺都必須要提供薪資範圍，並且最低值要高於六萬七千元 (新台幣)
      hr
      .row
        .col-sm-3.text-right
          h4 職缺 / 頭銜
        .col-sm-9
          input.form-control(name="title",type="text",ng-model="newjob.title",placeholder="例如，執行副理、保險業務助理、資深任體工程師等等",required,ng-minlength="3",ng-maxlength="35")
      .row
        .col-sm-3.text-right
          h4 職業別
        .col-sm-9
          select.form-control(name="jobtype",ng-model="newjob.jobtype",ng-options="type.name for type in jobtypes",required)
            option(value="") 請選取
      .row
        .col-sm-3.text-right
          h4 職業名
        .col-sm-9
          select.form-control(name="jobname",ng-model="newjob.jobname",ng-options="job.name for job in jobs",required)
            option(value="") 請選取
      .row.taller
        .col-sm-3.text-right
          h4 月薪範圍
        .col-sm-9.form-inline.text-center
          .form-group
            input.form-control(name="salary1",type="number",ng-model="newjob.salary1",placeholder="最低值，至少六萬七",required,ng-maxlength="9")
          |  至
          .form-group
            input.form-control(name="salary2",type="number",ng-model="newjob.salary2",placeholder="最高值，如：990000",required,ng-maxlength="9")
          span(style="white-space:nowrap")   (單位: 新台幣)
      .row.taller
        .col-sm-3.text-right
          h4 額外獎金
        .col-sm-9.form-inline.bonus
          .form-group(style="margin-top: 6px")
            .checkbox
              label 
                input(type="checkbox",name="signbonus",ng-model="newjob.signbonus")
                i.glyphicon.glyphicon-usd.blue
                |  簽約金 
            .checkbox
              label 
                input(type="checkbox",name="techshare",ng-model="newjob.techshare")
                i.glyphicon.glyphicon-folder-close.orange
                |  技術股 
            .checkbox
              label 
                input(type="checkbox",name="stockright",ng-model="newjob.stockright")
                i.glyphicon.glyphicon-heart.red
                |  員工認股 
            .checkbox
              label 
                input(type="checkbox",name="annualbonus",ng-model="newjob.annualbonus")
                i.glyphicon.glyphicon-gift.green
                |  三個月以上年終獎金 
      .row
        .col-sm-3.text-right
          h4 工作地點
        .col-sm-9
          input.form-control(name="location",type="text",ng-model="newjob.location",placeholder="例如：台北市、上海",required,ng-maxlength="30")
      .row
        .col-sm-3.text-right
          h4 工作內容
        .col-sm-9
          textarea.form-control(name="desc",ng-model="newjob.desc",placeholder="請詳加描述你提供的職缺其工作內容跟需求(純文字排版)",style="min-height: 200px")
      hr
      .row
        .col-sm-3.text-right
          h4 公司名稱
        .col-sm-9
          input.form-control(name="company",type="text",ng-model="newjob.company",placeholder="例如：跑得慢股份有限公司",required,ng-maxlength="30")
      .row
        .col-sm-3.text-right
          h4 公司介紹
        .col-sm-9
          textarea.form-control(name="compdesc",ng-model="newjob.compdesc",placeholder="請簡單描述職缺所在的公司(純文字排版)",style="min-height: 100px")
      br
      .row
        .col-sm-3.text-right
          h4 公司網址
        .col-sm-9
          input.form-control(name="url",type="text",ng-model="newjob.url",placeholder="例如：http://runsoslow.io")
      .row
        .col-sm-3.text-right
          h4 電子郵件
        .col-sm-9
          input.form-control(name="email",type="email",ng-model="newjob.email",placeholder="例如: hr@runsoslow.io",required,ng-maxlength="30")
          .small ( 收履歷用 )
      hr
      .row
        .col-sm-3
          .alert.alert-warning(ng-show="needfix") 表單有些問題，請修正再送出
        .col-sm-9
          .btn.btn-success.btn-rad.btn-block.btn-lg(ng-show="user",ng-click="submit()",ng-disabled="waitreload") 刊登求才啟示
          .btn.btn-warning.btn-rad.btn-block.btn-lg(ng-show="!user",ng-click="login()") 按此登入後即可刊登
    br
    hr.color.blue
    #aboutus
      br
      h3
        img(src="img/g0v.gif")
        |  關於我們
      //-
        br
        p 所以你是說你的薪水不夠高。
        br
        p
          | 你有考慮過到國外工作嗎？不不不，人不用到國外。比方說 
          a(href="http://jobmote.com/") JOBMOTE
          |  這個網站提供了不少遠距工作的職缺，像是 
          a(href="http://jobmote.com/job/6451-mean-javascript-master") 這一個職缺
          |  所需的技能差不多就只是架設這一個平台所需的技能而已。別忘了也參考一下
          a(href="http://www.flexjobs.com/") Flexjobs
          |  這一個網站，看看他的標題：
        blockquote
          | Life is flexible... is your job?
        p
          | 我想這個問題必須要由你自己來回答。

      br
      p
        | 這個平台的建立是啟發自
        a(href="http://66kjobs.tw") 66kjobs
        | ，據說該平台開發者使用 Ruby on Rails 花了八個小時就把網站建立起來。我想這會是一個很好的練習題目，稍微思考了一下， 決定使用精簡的 jade 、 sass 、 livescript 、 bootstrap 、 angularjs 、 firebase ，趁晚上小孩睡覺後幾個小時，大致上就把東西整理得差不多了，預計再寫個批踢踢文章 parser 來整理求職版文章，應該不會太費時，因為 
        a(href="http://github.com/zbryikt/ptt-crawler") 批踢踢爬蟲程式
        |  以前就寫好了。
      br
      p 67kjobs 後端接的是 firebase ，難度不會很高但架構有些限制，有機會可以嘗試再用 python django 或是 nodejs express + mongodb 再寫一次，扣掉前端與設計的部分，估計也是可以很快就把網站架起來了。
      br
      //-p 
        | 所有程式碼皆放在 
        a(href="http://github.com/zbryikt/67kjobs") github repo
        |  ，有發現問題歡迎提出 issue。
      .small.text-right contact: 67kjobs&#x40;scrape4.me
      hr
      h4 友情贊助
      p 下面是一些有潛力的新創團隊，雖然加入他們待遇不高，但歡迎大家跟他們聊聊天。
      br
      .sponsor
        .brand: a(href="http://artbloom.co/works/the-starry-night/",target="_blank"): img(src="img/ally/artbloom.png")
        .desc 線上買藝術品
      |  &nbsp; &nbsp; 
      .sponsor
        .brand: a(href="http://www.flyingv.cc/project/2748",target="_blank"): img(src="img/ally/monster.png")
        .desc 正在 flyingV 募資中
      |  
      .sponsor
        .brand: a(href="http://foundi.info/",target="_blank"): img(src="img/ally/foundi.png")
        .desc 打破資訊不對等
      |  
      .sponsor
        .brand: a(href="http://sentri.me",target="_blank"): img(src="img/ally/sentri.png")
        .desc Kickstarter 成功募資上千萬
      |  
      .sponsor
        .brand: a(href="http://sisgo.com.tw",target="_blank"): img(src="img/ally/sisgo.png")
        .desc 合購自己來
      br(style="clear:both")
        
block footer
  | &copy; 2014 67kjobs.info inc. all right reserved. 
  .badge beta
