-var subtitle = "我們專注於提供薪資至少六萬七的職缺資訊，讓您更容易找到好工作！"
#banner
  #logo(delay-bk="img/logo.png")
  #cover5.cover(delay-bk="img/cover/2.jpg")
    .ib
      .title 你值得更好的工作
      .desc 
        | 誰說你的人生只值這點錢？跳槽的時候到了。
        br
        span= subtitle
  #cover1.cover(delay-bk="img/cover/1.jpg")
    .ib
      .title 感到前途茫茫嗎？
      .desc 
        | 迷惘是人之常情，但你必須要力圖改變。
        br
        span= subtitle
  #cover2.cover(delay-bk="img/cover/3.jpg")
    .ib
      .title 不要再委屈自己了
      .desc 
        | 委身茅蘆待人顧嗎？別做21世紀臥龍，機會永遠都屬於自己爭取的人。
        br
        span= subtitle
  #cover3.cover(delay-bk="img/cover/4.jpg")
    .ib
      .title 多久沒好好休息了？
      .desc
        | 若你的待遇不好，連思考這問題的時間都沒有。
        br
        span= subtitle
  #cover4.cover(delay-bk="img/cover/2.jpg")
    .ib
      .title 你值得更好的工作
      .desc 
        | 誰說你的人生只值這點錢？跳槽的時候到了。
        br
        span= subtitle

